<div class="container">
  <igx-grid #grid [data]="users | async" width="100%" height="100%" [rowEditable]="true" [primaryKey]="'id'"
    (rowAdded)="userAdded($event)" (rowEditDone)="userEdited($event)">
    <igx-grid-toolbar>
      <igx-grid-toolbar-actions>
        <button igxButton (click)="addUser(grid)">Добави потребител</button>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>
    <igx-column width="60px" [editable]="false">
      <ng-template igxCell let-cell="cell">
        <button igxButton="icon" (click)="startDeleteUser(cell)">
          <igx-icon>delete</igx-icon>
        </button>
      </ng-template>
    </igx-column>
    <igx-column field="userName" header="Потребителско име"></igx-column>
    <igx-column field="role" header="Роля">
      <ng-template igxCell let-cell="cell">
        {{ parseRole(cell.value) }}
      </ng-template>
      <ng-template igxCellEditor let-cell="cell">
        <igx-select type="border" [(ngModel)]="cell.editValue" style="height: max-content; min-width: min-content;">
          <igx-select-item [value]="item.value" *ngFor="let item of roles">
            {{item.name}}
          </igx-select-item>
        </igx-select>
      </ng-template>
    </igx-column>
    <igx-column field="password" header="Парола"></igx-column>
  </igx-grid>
</div>
<igx-dialog #dialog><app-delete #deleteDialog></app-delete></igx-dialog>