<div class="container">
    <form [formGroup]="person" (ngSubmit)="onSubmit()">
      <igx-input-group type="border">
        <input igxInput name="name" type="text" formControlName="name">
        <label igxLabel for="username">Име</label>
        <igx-hint>Въведете името на човека</igx-hint>
      </igx-input-group>
      <igx-input-group type="border">
        <input igxInput name="phone" type="text" formControlName="phone">
        <label igxLabel for="phone">Телефон</label>
        <igx-hint>Въведете телефония номер на човека</igx-hint>
      </igx-input-group>
      <igx-input-group type="border">
        <input igxInput name="email" type="text" formControlName="email">
        <label igxLabel for="email">e-mail</label>
        <igx-hint>Въведете електрония адрес на човека</igx-hint>
      </igx-input-group>
      <igx-date-picker type="border" name="birthDate" formControlName="birthDate">
        <label igxLabel for="birthDate">Роден на</label>
        <igx-hint>Въведете дата на раждане на човека</igx-hint>
      </igx-date-picker>
      <div class="actions">
        <button igxButton="flat" type="button" igxRipple (click)="cancel()">Откажи</button>
        <button igxButton="raised" type="submit" igxRipple [disabled]="!person.valid">Добави</button>
      </div>
    </form>
  </div>
  