<div class="container">
  <igx-grid #grid [data]="pets | async" width="100%" height="700px" [rowEditable]="true" [primaryKey]="'id'"
    (rowAdded)="petAdded($event)" (rowEditDone)="petEdited($event)" [sortingOptions]="sortingOptions">
    <igx-grid-toolbar>
      <igx-grid-toolbar-actions>
        <button igxButton (click)="addPet(grid)">Добави животно</button>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>
    <igx-column width="60px" [editable]="false">
      <ng-template igxCell let-cell="cell">
        <button igxButton="icon" (click)="startDeletePet(cell)">
          <igx-icon>delete</igx-icon>
        </button>
      </ng-template>
    </igx-column>
    <igx-column field="number" header="Номер" [sortable]="true"></igx-column>
    <igx-column field="name" header="Име" [sortable]="true"></igx-column>
  </igx-grid>
</div>
<igx-dialog #dialog><app-delete #deleteDialog></app-delete></igx-dialog>