:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: hsl(var(--igx-primary-500));
  background-image: url(("../assets/background.png"));
  background-size: cover;
}

.navbar-wrapper {
  width: 1140px;
  margin: 0 auto;
}

.content-wrap {
  display: flex;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
}