<div class="navbar-wrapper">
  <igx-navbar>
    <div igxNavbarTitle>
      <img src="../domoupravitel-front/assets/logo.png" alt="" width="50px" height="50px">
      <span style="margin-left: 1rem;">Равногор №1</span>
    </div>
    <button *ngIf="userService.isLoggedIn()" igxButton="raised" (click)="userService.logout()">Изход</button>
    <button *ngIf="this.userService.isLoggedIn()" igxButton="flat" type="button" routerLink="/auth/user-settings">
      <igx-avatar icon="person"></igx-avatar>
    </button>
  </igx-navbar>
</div>
<div class="content-wrap">
  <main class="main">
    <igx-tabs *ngIf="userService.isLoggedIn()">
      <igx-tab-item routerLinkActive #rlaAdmin="routerLinkActive" [selected]="rlaAdmin.isActive"
        *ngIf="this.userService.isAdmin()">
        <igx-tab-header routerLink="/auth/user-manager">
          <span igxTabHeaderLabel>Администрация</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item routerLinkActive #rlaStaff="routerLinkActive" [selected]="rlaStaff.isActive"
        *ngIf="this.userService.isAdmin()">
        <igx-tab-header routerLink="/auth/user-settings">
          <span igxTabHeaderLabel>Настройки на профила</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item routerLinkActive #rlaStaff="routerLinkActive" [selected]="rlaStaff.isActive"
        *ngIf="this.userService.isAdmin() || this.userService.isModerator()">
        <igx-tab-header routerLink="/moderator/people">
          <span igxTabHeaderLabel>Хора</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item routerLinkActive #rlaStaff="routerLinkActive" [selected]="rlaStaff.isActive"
        *ngIf="this.userService.isAdmin() || this.userService.isModerator()">
        <igx-tab-header routerLink="/moderator/cars">
          <span igxTabHeaderLabel>Коли</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item routerLinkActive #rlaStaff="routerLinkActive" [selected]="rlaStaff.isActive"
        *ngIf="this.userService.isAdmin() || this.userService.isModerator()">
        <igx-tab-header routerLink="/moderator/pets">
          <span igxTabHeaderLabel>Животни</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item routerLinkActive #rlaStaff="routerLinkActive" [selected]="rlaStaff.isActive"
        *ngIf="this.userService.isAdmin() || this.userService.isModerator()">
        <igx-tab-header routerLink="/moderator/properties">
          <span igxTabHeaderLabel>Имоти</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
