:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
  // background-color: hsl(var(--igx-primary-500));
  background-image: url(("../assets/background.png"));
  background-size: cover;
}

.navbar-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	flex-grow: 1;
  width: 1400px;
  max-height: calc(100vh - 3.5rem);
  margin: 0 auto;
}

.content-wrap {
  height: 100%;
}

.nav-drawer {
	min-width: min-content;
	min-height: 0;
	max-width: 300px;
	flex-shrink: 0;
}

.content {
	overflow: auto;
	position: relative;
	flex-grow: 1;
}

.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}