<igx-navbar class="navbar-wrapper">
  <igx-navbar-action *ngIf="userService.isLoggedIn()">
    <button igxButton="icon" igxRipple (click)="toggleNavDrawer(navDrawer)">
      <igx-icon>menu</igx-icon>
    </button>
  </igx-navbar-action>
  <div igxNavbarTitle>
    <h4 style="margin: 0 auto; color: hsla(var(--ig-surface-500))">Равногор №1</h4>
  </div>
  <button *ngIf="userService.isLoggedIn()" igxButton="raised" (click)="userService.logout()">Изход</button>
  <button *ngIf="this.userService.isLoggedIn()" igxButton="flat" type="button" routerLink="/auth/user-settings">
    <igx-avatar icon="person"></igx-avatar>
  </button>
</igx-navbar>
<div class="main">
  <igx-nav-drawer #navDrawer [isOpen]="userService.isLoggedIn()" class="nav-drawer" width="300px" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/auth/user-manager" [active]="selected === 'user-manager'" (click)="selected = 'user-manager'">
        <igx-icon class="icon">admin_panel_settings</igx-icon>
        <span>Администрация</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/auth/user-settings" [active]="selected === 'settings'" (click)="selected = 'settings'">
        <igx-icon class="icon">settings</igx-icon>
        <span>Настройки на профила</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/moderator/people" [active]="selected === 'people'" (click)="selected = 'people'">
        <igx-icon class="icon">group</igx-icon>
        <span>Хора</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/moderator/cars" [active]="selected === 'cars'" (click)="selected = 'cars'">
        <igx-icon class="icon">directions_car</igx-icon>
        <span>Коли</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/moderator/pets" [active]="selected === 'pets'" (click)="selected = 'pets'">
        <igx-icon class="icon">pets</igx-icon>
        <span>Животни</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/moderator/properties" [active]="selected === 'properties'" (click)="selected = 'properties'">
        <igx-icon class="icon">apartment</igx-icon>
        <span>Имоти</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/moderator/references" [active]="selected === 'references'" (click)="selected = 'references'">
        <igx-icon class="icon">library_books</igx-icon>
        <span>Справки</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>