<div class="container">
    <igx-grid [data]="people | async" width="800px" height="600px" [rowEditable]="true" [primaryKey]="'id'"
      (rowAdded)="personAdded($event)" (rowEditDone)="personEdited($event)" (rowDeleted)="personDeleted($event)">
      <igx-column field="name" [sortable]="true"></igx-column>
      <igx-column field="phone" [sortable]="true"></igx-column>
      <igx-column field="email" [sortable]="true"></igx-column>
      <igx-action-strip #actionstrip>
        <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
      </igx-action-strip>
    </igx-grid>
  </div>