<div class="container">
    <igx-hierarchical-grid [data]="pets | async" width="800px" height="600px" [rowEditable]="true" [primaryKey]="'id'"
        (rowAdded)="propertyAdded($event)" (rowEditDone)="propertyEdited($event)"
        (rowDeleted)="propertyDeleted($event)">
        <igx-column field="type">
            <ng-template igxCell let-cell="cell">
                {{ parseType(cell.value) }}
            </ng-template>
            <ng-template igxCellEditor let-cell="cell">
                <igx-select type="border" [(ngModel)]="cell.editValue" style="height: max-content; min-width: min-content;">
                  <igx-select-item [value]="item.value" *ngFor="let item of types">
                    {{item.name}}
                  </igx-select-item>
                </igx-select>
              </ng-template>
        </igx-column>
        <igx-column field="number"></igx-column>
        <igx-column field="share" dataType="number"></igx-column>
        <igx-action-strip #actionstrip>
            <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-hierarchical-grid>
</div>