.container {
  max-width: 600px;
  background-color: hsla(var(--igx-surface-500));
  margin: 2rem auto;
  padding: 2rem;
}

.inputs {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
}