.container {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}