<div class="container">
  <igx-grid [data]="people | async" width="800px" height="600px" [rowEditable]="true" [primaryKey]="'id'"
    (rowAdded)="personAdded($event)" (rowEditDone)="personEdited($event)" (rowDeleted)="personDeleted($event)"
    [sortingOptions]="sortingOptions">
    <igx-column field="name" header="Име" [sortable]="true"></igx-column>
    <igx-column field="phone" header="Телефон" [sortable]="true"></igx-column>
    <igx-column field="email" header="e-mail" [sortable]="true"></igx-column>
    <igx-action-strip #actionstrip>
      <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
    </igx-action-strip>
  </igx-grid>
</div>