<div class="container">
    <igx-grid #grid [data]="data" [width]="'100%'" [height]="'100%'">
        <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-exporter [exportExcel]="true" [exportCSV]="false"></igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>
        <igx-column field="property" header="Обект" [sortable]="true" [resizable]="true"></igx-column>
        <igx-column field="name" header="Ползвател" [sortable]="true" [resizable]="true"></igx-column>
        <igx-column field="type" header="Вид ползвател" [sortable]="true" [resizable]="true"></igx-column>
        <igx-column field="phone" header="тел." [sortable]="true" [resizable]="true"></igx-column>
        <igx-column field="mail" header="e-mail" [sortable]="true" [resizable]="true"></igx-column>
    </igx-grid>
</div>