<div class="container">
  <igx-grid #grid [data]="cars | async" [rowEditable]="true" [primaryKey]="'id'" (rowAdded)="carAdded($event)"
    igxGridState (rowEditDone)="carEdited($event)" [sortingOptions]="sortingOptions">
    <igx-grid-toolbar>
      <igx-grid-toolbar-actions>
        <button igxButton (click)="addCar(grid)">Добави кола</button>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>
    <igx-column width="60px" [editable]="false">
      <ng-template igxCell let-cell="cell">
        <button igxButton="icon" (click)="startDeleteCar(cell)">
          <igx-icon>delete</igx-icon>
        </button>
      </ng-template>
    </igx-column>
    <igx-column field="number" header="Регистрационен №" [sortable]="true"></igx-column>
    <igx-column field="brand" header="Марка" [sortable]="true"></igx-column>
    <igx-column field="color" header="Цвят" [sortable]="true"></igx-column>
  </igx-grid>
</div>
<igx-dialog #dialog><app-delete #deleteDialog></app-delete></igx-dialog>